.github/workflows/build.yml
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "telegram-trigger",
      "name": "Telegram Bot",
      "webhookId": "auto-generated-webhook-id",
      "credentials": {
        "telegramApi": {
          "id": "your-telegram-creds-id",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/search/repositories?q={{ $json.message.text.replace('https://', '').replace('http://', '') }}+in:homepage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "search-repo",
      "name": "Search Repo by Homepage",
      "credentials": {
        "githubApi": {
          "id": "your-github-api-creds",
          "name": "GitHub API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.item.json.items;\nconst lovableUrl = $('Telegram Bot').item.json.message.text;\nconst chatId = $('Telegram Bot').item.json.message.chat.id;\n\nif (items && items.length > 0) {\n  // Found the repo!\n  const repoUrl = items[0].html_url;\n  \n  // Extract repo name from GitHub URL\n  // Example: https://github.com/user/tameny-mama-assistant → tameny-mama-assistant\n  const repoName = repoUrl.split('/').pop().replace('.git', '');\n  \n  // Convert to nice app name: tameny-mama-assistant → Tameny Mama Assistant\n  const appName = repoName\n    .split('-')\n    .map(word => word.charAt(0).toUpperCase() + word.slice(1))\n    .join(' ');\n  \n  return [{\n    json: {\n      repoUrl: repoUrl,\n      appName: appName,\n      chatId: chatId,\n      lovableUrl: lovableUrl,\n      error: false\n    }\n  }];\n} else {\n  // No repo found\n  return [{\n    json: {\n      error: true,\n      message: \"❌ Couldn't find GitHub repo for this Lovable app. Make sure it's connected to GitHub!\",\n      chatId: chatId\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "extract-app-name",
      "name": "Extract App Name"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": false
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "check-error",
      "name": "Check If Error"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "workflow",
        "operation": "dispatchAndWait",
        "owner": "BasemTarekkamal",
        "repository": "n8n-lvbl-to-apk-2",
        "workflowId": "build.yml",
        "inputs": "={{ JSON.stringify({ git_repo: $json.repoUrl, app_name: $json.appName }) }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        880,
        -100
      ],
      "id": "trigger-build",
      "name": "Trigger GitHub Build",
      "credentials": {
        "githubOAuth2Api": {
          "id": "hjvRSBXXKcu65ToC",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract App Name').item.json.chatId }}",
        "text": "✅ Your APK is ready!\n\n📱 App: {{ $('Extract App Name').item.json.appName }}\n🔗 Download: {{ $json.apk_url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        -100
      ],
      "id": "send-success",
      "name": "Send APK Link",
      "credentials": {
        "telegramApi": {
          "id": "your-telegram-creds-id",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        100
      ],
      "id": "send-error",
      "name": "Send Error Message",
      "credentials": {
        "telegramApi": {
          "id": "your-telegram-creds-id",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Bot": {
      "main": [
        [
          {
            "node": "Search Repo by Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Repo by Homepage": {
      "main": [
        [
          {
            "node": "Extract App Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract App Name": {
      "main": [
        [
          {
            "node": "Check If Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Error": {
      "main": [
        [
          {
            "node": "Trigger GitHub Build",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger GitHub Build": {
      "main": [
        [
          {
            "node": "Send APK Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "your-instance-id"
  }
}
